@media (min-width: 1024px) {
    .lg-fixed {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}

.back-to-top {
    opacity: 0.5;
    z-index: 9999;
}

.back-to-top:hover {
    opacity: 1;
}