{% extends "base.html" %}

{% block title %}home page{% endblock title %}

{% block content %}

New Is Always Better<hr>
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976.
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 
New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. New Is Always Better BUT 1976. 

{% endblock content %}