{% load static %}

<!DOCTYPE html>
<html class="scroll-smooth" template="true" lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - NIAB</title>
    <meta content="auteur" name="author">
    <meta content="description" name="description">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body class="bg-gray-200 dark:bg-gray-900 text-gray-800 dark:text-gray-400">
    {% include "includes/header.html" %}

    <main class="container mx-auto py-8">
    {% block content %}{% endblock content %}
    </main>

    {% include "includes/footer.html" %}

    <script src="{% static "js/script.js" %}"></script>
</body>
</html>
