{% extends "base.html" %}

{% block title %}Titanic 3{% endblock title %}

{% block content %}

<div class="flex items-center">
    <div>
        <img src="https://fr.web.img6.acsta.net/c_310_420/pictures/23/01/10/16/06/0622119.jpg"
            alt="Miniature du film" class="mr-4 rounded-tl-full rounded-br-full">
    </div>
    
    <div class="film-info">
        <h1 class="text-3xl text-gray-500 py-4">Titanic 3</h1>
        <p><strong>Acteurs:</strong> Nom de l'acteur 1, Nom de l'acteur 2, ...</p>
        <p><strong>Réalisateurs:</strong> Nom du réalisateur</p>
        <p><strong>Producteurs:</strong> Nom du producteur</p>
        <p><strong>Date de sortie:</strong> Date de sortie du film</p>
        <p><strong>Synopsis:</strong> Résumé du film ici</p>
        <p><strong>Nationalité:</strong> Nationalité du film</p>
    </div>
</div>

{% endblock content %}